In [219]:
import pandas as pd

In [220]:
negative_path = "twit_data/negative.csv"
positive_path = "twit_data/positive.csv"
col_names = ['twit_number','time_date','name','twit_text','positive_negative','replays','retwits','favorites','total_messages','followers','friends','lists']

In [221]:
#импорт данных

negative_twits = pd.read_csv(negative_path,sep=';',names=col_names)
positive_twits = pd.read_csv(positive_path,sep=';',names=col_names)

In [222]:
negative_twits.head(3)

,twit_number,time_date,name,twit_text,positive_negative,replays,retwits,favorites,total_messages,followers,friends,lists
0,408906762813579264,1386325944,dugarchikbellko,на работе был полный пиддес :| и так каждое за...,-1,0,0,0,8064,111,94,2
1,408906818262687744,1386325957,nugemycejela,"Коллеги сидят рубятся в Urban terror, а я из-з...",-1,0,0,0,26,42,39,0
2,408906858515398656,1386325966,4post21,@elina_4post как говорят обещаного три года жд...,-1,0,0,0,718,49,249,0

In [223]:
positive_twits.head(3)

,twit_number,time_date,name,twit_text,positive_negative,replays,retwits,favorites,total_messages,followers,friends,lists
0,408906692374446080,1386325927,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1,0,0,0,7569,62,61,0
1,408906692693221377,1386325927,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1,0,0,0,11825,59,31,2
2,408906695083954177,1386325927,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1,0,1,0,1273,26,27,0

In [224]:
#формирование dataframe
plus_twits = positive_twits[['twit_text','positive_negative']]
minus_twits = negative_twits[['twit_text','positive_negative']]
len(minus_twits)

111923

In [225]:
plus_twits.head()

                                           twit_text  positive_negative
0  @first_timee хоть я и школота, но поверь, у на...                  1
1  Да, все-таки он немного похож на него. Но мой ...                  1
2  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...                  1
3  RT @digger2912: "Кто то в углу сидит и погибае...                  1
4  @irina_dyshkant Вот что значит страшилка :D\nН...                  1

In [226]:
#объединение датафреймов
frames = [plus_twits, minus_twits]
twit_base = pd.concat(frames, ignore_index=True)

twit_base.tail(20)

                                                twit_text  positive_negative
226814  Хочу на тренюю...Но на хоккей буду ходить толь...                 -1
226815  Как я устала , каждый день вставать в 7 утра и...                 -1
226816  http://t.co/1XBDaRHabI Длинная зеленая куртка ...                 -1
226817  Вчера в электричке дяденька рисовал мой портре...                 -1
226818      Бля, еще хренотень какая-то снилась всю ночь(                 -1
226819      я хочу спааать, но надо ещё на биологию идти(                 -1
226820       Мой мальчик заболел:( http://t.co/oMSLJ7Z2IX                 -1
226821      @LidiyaVlasova это точно ( походу давление ((                 -1
226822  RT @Russia_calls: Шлегель забанил за это((  ht...                 -1
226823  @alginova96 @Betyasso в школу все таки я пошла...                 -1
226824  @ivanenko14 и у меня также, только будильник е...                 -1
226825  Когда же я вернусь к тебе(( http://t.co/36qnCO...                 -1
226826  RT @qelasocadij: Скажите пожалуйста, как у чел...                 -1
226827  У нас физ ра на улице\nПака линт:(\nЧерез 45 м...                 -1
226828  Нас сегодня отказались принять в сад, типа мы ...                 -1
226829  Но не каждый хочет что то исправлять:( http://...                 -1
226830  скучаю так :-( только @taaannyaaa вправляет мо...                 -1
226831          Вот и в школу, в говно это идти уже надо(                 -1
226832  RT @_Them__: @LisaBeroud Тауриэль, не грусти :...                 -1
226833  Такси везет меня на работу. Раздумываю приплат...                 -1

In [227]:

import re
test_string = ["скучаю(((( так :-( только :("]
for each in test_string:
    pattern = "\@\w+"
    pattern_1='[0-9]+'
    pattern_2 = "(http://[^ ]+)"
    pattern_3 = "\(\(+|:\(+|:-\(+"
    new_line = re.sub(pattern_3, " #sad_smile", ','.join(test_string))
    print(new_line)

скучаю #sad_smile так  #sad_smile только  #sad_smile

In [228]:
#замена имен, цифр, смайлов
pattern = "\@\w+"
twit_base['twit_text'].replace(to_replace=pattern, value=" #name", regex=True, inplace=True)
pattern_1='[0-9]+'
twit_base['twit_text'].replace(to_replace=pattern_1, value=" #number", regex=True, inplace=True)
pattern_2 = "(http://[^ ]+)"
twit_base['twit_text'].replace(to_replace=pattern_2, value=" #hyperlink", regex=True, inplace=True)
pattern_3 = "(http://[^ ]+)|(https://[^ ]+)"
twit_base['twit_text'].replace(to_replace=pattern_3, value=" #hyperlink", regex=True, inplace=True)
pattern_4 = "\(\(+|:\(+|:-\(+"
twit_base['twit_text'].replace(to_replace=pattern_4, value=" #sad_smile", regex=True, inplace=True)

In [229]:
twit_base.tail(20)

                                                twit_text  positive_negative
226814  Хочу на тренюю...Но на хоккей буду ходить толь...                 -1
226815  Как я устала , каждый день вставать в  #number...                 -1
226816   #hyperlink #numberXBDaRHabI Длинная зеленая к...                 -1
226817  Вчера в электричке дяденька рисовал мой портре...                 -1
226818      Бля, еще хренотень какая-то снилась всю ночь(                 -1
226819      я хочу спааать, но надо ещё на биологию идти(                 -1
226820  Мой мальчик заболел #sad_smile  #hyperlink #nu...                 -1
226821      #name это точно ( походу давление  #sad_smile                 -1
226822  RT  #name: Шлегель забанил за это #sad_smile  ...                 -1
226823   #name  #name в школу все таки я пошла  #sad_s...                 -1
226824   #name и у меня также, только будильник еще и ...                 -1
226825  Когда же я вернусь к тебе #sad_smile  #hyperli...                 -1
226826  RT  #name: Скажите пожалуйста, как у человека ...                 -1
226827  У нас физ ра на улице\nПака линт #sad_smile\nЧ...                 -1
226828  Нас сегодня отказались принять в сад, типа мы ...                 -1
226829  Но не каждый хочет что то исправлять #sad_smil...                 -1
226830  скучаю так  #sad_smile только  #name вправляет...                 -1
226831          Вот и в школу, в говно это идти уже надо(                 -1
226832  RT  #name:  #name Тауриэль, не грусти  #sad_sm...                 -1
226833  Такси везет меня на работу. Раздумываю приплат...                 -1

In [230]:
#попытался сделать лемматизацию, но слишком долго работает. Оставил на светлое будущее.
import pymystem3
m = pymystem3.Mystem(disambiguation=True)

In [231]:
"".join((m.lemmatize("Хочу на тренюю...Но на хоккей буду ходить толь...")))

'хотеть на трений...но на хоккей быть ходить толь...\n'

In [232]:
twit_base_lemmatized = twit_base[:20].copy()

In [233]:
twit_base_lemmatized.head()

                                           twit_text  positive_negative
0   #name хоть я и школота, но поверь, у нас то ж...                  1
1  Да, все-таки он немного похож на него. Но мой ...                  1
2  RT  #name: Ну ты идиотка) я испугалась за тебя!!!                  1
3  RT  #name: "Кто то в углу сидит и погибает от ...                  1
4   #name Вот что значит страшилка :D\nНо блин,по...                  1

In [234]:
for i in twit_base_lemmatized.index:
    twit_base_lemmatized.iloc[i]['twit_text'] ="".join((m.lemmatize(twit_base_lemmatized.iloc[i]['twit_text'])))

C:\Users\Slava-N\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [235]:
from sklearn.model_selection import train_test_split

In [236]:
X_tt, X_test, y_tt, y_test = train_test_split(twit_base.twit_text, twit_base.positive_negative, test_size = 0.2)
#X_train, X_cross_val, y_train, y_cross_val = train_test_split(X_tt, y_tt, test_size = (0.2/0.9))

In [238]:
import sklearn.pipeline
import sklearn.naive_bayes
import sklearn.metrics
import sklearn.svm
import sklearn.feature_extraction
import sklearn.metrics

In [250]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [255]:
from nltk.corpus import stopwords
#добавлял стоп слова, но результат получился хуже
text_clf = sklearn.pipeline.Pipeline([('vect', sklearn.feature_extraction.text.CountVectorizer()),
                     ('clf', sklearn.svm.LinearSVC())])

In [256]:
#классификация текстов
text_clf.fit(X_tt, y_tt)

predicted = text_clf.predict(X_test)

print(sklearn.metrics.classification_report(y_test, predicted))
#получились вроде даже неплохи результаты. На что посмотреть для улучшения значений?

             precision    recall  f1-score   support

         -1       0.85      0.82      0.83     22196
          1       0.83      0.86      0.85     23171

avg / total       0.84      0.84      0.84     45367

In [257]:
sklearn.metrics.confusion_matrix(y_test, predicted)

array([[18232,  3964],
       [ 3309, 19862]])